<div class="my-5 py-5">
    <h1>Editando categoría</h1>

    <%= render 'form', category: @category %>

    <%= link_to 'Show', @category, :class => 'btn btn-success text-white' %> |
    <%= link_to 'Back', categories_path, :class => 'btn btn-info text-white' %>
</div>
